/* Base Application Styles */
.search-box {
  width: 335px;
  /*height: 30px;*/
  display: block;
  margin: 0 auto;
  border-radius: 0px;
  padding: 15px;

  border: 0;
  border-bottom: 1.5px solid slategray;
  outline: none;
}

div.ct-chart.ct-octave {
  height: 500px;
  width: 800px;
  margin: 50px auto 5px
}

.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #f39c12 !important;
  /* Control the thickness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */
  stroke-dasharray: 10px 20px;
}